@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100;200;300;400;500;600;700;800;900&family=Kalam:wght@300;400;700&display=swap");

body {
  font-family: "Handjet", cursive;
  font-family: "Kalam", cursive;
  margin: 0;
  padding: 0;
  background-color: #ffdab9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f08080;
  height: 100vh;
}

h1 {
  margin-top: 30px;
  font-size: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 250px;
  height: 400px;
  background-color: #fbc4ab;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 50px;
  border: 2px solid rgb(240, 128, 128);
}

img {
  margin-top: 30px;
  height: 300px;
  width: 200px;
  -webkit-user-drag: none;
}
